body {
	background-color:#000;
	/* 
	margin: 0;
	padding: 0;
	*/
}

.hexmap {
	position: relative;
	background: #000;
}

.hexmapnumber {
	position: fixed;
}


.hex-key-element {
	border: 1px solid #fff;
	float: left;
	text-align: center;
}

.hex {
	position: absolute;
}